In [7]:
import pandas as pd

In [8]:
import numpy as np

In [9]:
car_data = open('data/Section 5 Machine Learning/car.data', 'r')

### Create Car Listing

In [10]:
count = 0
CarListing = []
 
while True:
    line = car_data.readline()
    
    if not line:
        break
    CarListing.append(line.strip().split(","))

### Create CarListing DataFrame

In [11]:
CarListing_df = pd.DataFrame(CarListing, columns = ["buying","maint","doors","persons","lug_boot","safety","car_eval_domain"])

In [12]:
CarListing_df

     buying  maint  doors persons lug_boot safety car_eval_domain
0     vhigh  vhigh      2       2    small    low           unacc
1     vhigh  vhigh      2       2    small    med           unacc
2     vhigh  vhigh      2       2    small   high           unacc
3     vhigh  vhigh      2       2      med    low           unacc
4     vhigh  vhigh      2       2      med    med           unacc
...     ...    ...    ...     ...      ...    ...             ...
1723    low    low  5more    more      med    med            good
1724    low    low  5more    more      med   high           vgood
1725    low    low  5more    more      big    low           unacc
1726    low    low  5more    more      big    med            good
1727    low    low  5more    more      big   high           vgood

[1728 rows x 7 columns]

### Check Values

In [13]:
CarListing_df["buying"].value_counts()

low      432
vhigh    432
high     432
med      432
Name: buying, dtype: int64